---
environment:    :sandbox
merchant_id:    merchant-id
public_key:     public-key
private_key:    private-key
currency_code:  USD
country_code:   US
supported_networks:
  - Visa
  - MasterCard
  - AmEx
applepay_merchant_id: merchant.com.companyname.productname
api_keys:
  - api-token